# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]
*$py.class
*.py~

# Ignore the complete unzipped corpus
**/complete

# Ignore some mac specific stuff
.DS_Store

# Ignore vim swap files
*.swp
